<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>LivroLúdico</name>

<description>
Ebook Infantil
</description>

<author href="https://example.com" email="you@example.com">
Leandro Henrique da Silva
</author>



	<preference name="permissions"                value="none"/>
    <preference name="phonegap-version"           value="2.9.0" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />   
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="3000" />	
	<gap:platform name="android" />
    <!-- Define app icon for each platform. -->
	<platform name="android">
              <icon src="res/android/icon-36-ldpi.png" density="ldpi" />
              <icon src="res/android/icon-48-mdpi.png" density="mdpi" />
              <icon src="res/android/icon-72-hdpi.png" density="hdpi" />
              <icon src="res/android/icon-96-xhdpi.png" density="xhdpi" />
			  
			  <splash src="res/screen/screen-ldpi-portrait.png"  density="ldpi" />
              <splash src="res/screen/screen-mdpi-portrait.png"  density="mdpi" />
              <splash src="res/screen/screen-hdpi-portrait.png" density="hdpi" />
              <splash src="res/screen/screen-xhdpi-portrait.png"  density="xhdpi" />
     </platform>
    
    <access origin="http://127.0.0.1*" />	
	
	
</widget>